.link1-about{
    margin-left: 60px;
}
.link1-about img{
    width: 100%;
    object-fit: contain;
    margin-top: 50px;
}
.link1-texts{
    margin-left: 60px;
    margin-top: 40px;
}
@media screen and (max-width: 425px){
    .link1-about{
        margin-left: 0;
    }
    .link1-texts{
        margin-left: 0;
    }
}